.App {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: center;
}
.headerContainer {
  display: flex;
  width: 90%;
  height: 90px;
  text-align: center;
  align-items: center;
  /* justify-content: space-around; */
}
.headerInfoContainer {
  display: flex;
  /* justify-content: space-around; */
  /* width: 100%; */
}

.headerElementStyle {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  align-items: center;
}
